<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Joker">
  <meta name="author" content="Thomas O'Keeffe">
  <title>Joker</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/signin.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
  </script>

<script src="/javascripts/joker.js"></script>
</head>

<body class="text-center">
  <div class="main-box">
    <img class="mb-4" src="/images/logo.jpg" alt="" width="172" height="172">
    <button id="jokeButton" class="btn btn-lg btn-primary btn-block jk-button" type="button">Loading Joke ... </button>
    <p class="mt-5 mb-3 text-muted">&copy; THE JOKER 2021</p>
  </div>
</body>

</html>